/* 
  https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Flexible_Box_Layout
  flex base:
    display:
      flex,
      inline-flex,
    
    flex-direction:
      row(default value),
      row-reverse,
      column,
      column-reverse,
    
    flex-wrap:
      nowrap(default value),
      wrap,
      wrap-reverse
    
    align-items:
      normal(default value),
      stretch,
      center,
      flex-start,
      flex-end,
      baseline,
    
    justify-content:
      stretch,
      space-between,
      space-around,
      center,
      flex-start,
      flex-end,
      baseline,

    align-content:
      stretch,
      space-between,
      space-around,
      center,
      flex-start,
      flex-end,
      baseline,

  flex item
    flex-grow:
      <number>

    flex-shrink:
      <number>

    flex-basis:

    align-self:
      stretch,
      center,
      flex-start,
      flex-end,
      baseline,

    order:
*/
@import '../../familyboat.css';

form {
  width: 70%;
  margin: 0 auto 20px;
}

form label {
  display: block;
}

form label i {
  display: inline-block;
  width: 15%;
  text-align: left;
}

form label i::after {
  content: ':';
}

#flex-container {
  display: flex;
  margin: 0 auto;

  background-color: wheat;
  border: 3px solid black;  
}

#flex-container > * {
  border: 1px solid green;
}